In [2]:
import pandas as pd

In [3]:
data = pd.read_csv("covid_19_clean_complete.csv")
data

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
0,NaN,Afghanistan,33.939110,67.709953,2020-01-22,0,0,0,0,Eastern Mediterranean
1,NaN,Albania,41.153300,20.168300,2020-01-22,0,0,0,0,Europe
2,NaN,Algeria,28.033900,1.659600,2020-01-22,0,0,0,0,Africa
3,NaN,Andorra,42.506300,1.521800,2020-01-22,0,0,0,0,Europe
4,NaN,Angola,-11.202700,17.873900,2020-01-22,0,0,0,0,Africa
...,...,...,...,...,...,...,...,...,...,...
49063,NaN,Sao Tome and Principe,0.186400,6.613100,2020-07-27,865,14,734,117,Africa
49064,NaN,Yemen,15.552727,48.516388,2020-07-27,1691,483,833,375,Eastern Mediterranean
49065,NaN,Comoros,-11.645500,43.333300,2020-07-27,354,7,328,19,Africa
49066,NaN,Tajikistan,38.861000,71.276100,2020-07-27,7235,60,6028,1147,Europe
49067,NaN,Lesotho,-29.610000,28.233600,2020-07-27,505,12,128,365,Africa

In [4]:
type(data["Date"].iloc[0])

str

In [5]:
data["Date"] = pd.to_datetime(data["Date"])
data

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
0,NaN,Afghanistan,33.939110,67.709953,2020-01-22,0,0,0,0,Eastern Mediterranean
1,NaN,Albania,41.153300,20.168300,2020-01-22,0,0,0,0,Europe
2,NaN,Algeria,28.033900,1.659600,2020-01-22,0,0,0,0,Africa
3,NaN,Andorra,42.506300,1.521800,2020-01-22,0,0,0,0,Europe
4,NaN,Angola,-11.202700,17.873900,2020-01-22,0,0,0,0,Africa
...,...,...,...,...,...,...,...,...,...,...
49063,NaN,Sao Tome and Principe,0.186400,6.613100,2020-07-27,865,14,734,117,Africa
49064,NaN,Yemen,15.552727,48.516388,2020-07-27,1691,483,833,375,Eastern Mediterranean
49065,NaN,Comoros,-11.645500,43.333300,2020-07-27,354,7,328,19,Africa
49066,NaN,Tajikistan,38.861000,71.276100,2020-07-27,7235,60,6028,1147,Europe
49067,NaN,Lesotho,-29.610000,28.233600,2020-07-27,505,12,128,365,Africa

In [6]:
type(data["Date"].iloc[0])

pandas._libs.tslibs.timestamps.Timestamp

In [7]:
for country in pd.unique(data["Country/Region"]):
    print(country)

Afghanistan
Albania
Algeria
Andorra
Angola
Antigua and Barbuda
Argentina
Armenia
Australia
Austria
Azerbaijan
Bahamas
Bahrain
Bangladesh
Barbados
Belarus
Belgium
Benin
Bhutan
Bolivia
Bosnia and Herzegovina
Brazil
Brunei
Bulgaria
Burkina Faso
Cabo Verde
Cambodia
Cameroon
Canada
Central African Republic
Chad
Chile
China
Colombia
Congo (Brazzaville)
Congo (Kinshasa)
Costa Rica
Cote d'Ivoire
Croatia
Cuba
Cyprus
Czechia
Denmark
Greenland
Djibouti
Dominican Republic
Ecuador
Egypt
El Salvador
Equatorial Guinea
Eritrea
Estonia
Eswatini
Ethiopia
Fiji
Finland
France
Gabon
Gambia
Georgia
Germany
Ghana
Greece
Guatemala
Guinea
Guyana
Haiti
Holy See
Honduras
Hungary
Iceland
India
Indonesia
Iran
Iraq
Ireland
Israel
Italy
Jamaica
Japan
Jordan
Kazakhstan
Kenya
South Korea
Kuwait
Kyrgyzstan
Latvia
Lebanon
Liberia
Liechtenstein
Lithuania
Luxembourg
Madagascar
Malaysia
Maldives
Malta
Mauritania
Mauritius
Mexico
Moldova
Monaco
Mongolia
Montenegro
Morocco
Namibia
Nepal
Netherlands
New Zealand
Nicaragua
Niger
Nigeria
North Macedonia
Norway
Oman
Pakistan
Panama
Papua New Guinea
Paraguay
Peru
Philippines
Poland
Portugal
Qatar
Romania
Russia
Rwanda
Saint Lucia
Saint Vincent and the Grenadines
San Marino
Saudi Arabia
Senegal
Serbia
Seychelles
Singapore
Slovakia
Slovenia
Somalia
South Africa
Spain
Sri Lanka
Sudan
Suriname
Sweden
Switzerland
Taiwan*
Tanzania
Thailand
Togo
Trinidad and Tobago
Tunisia
Turkey
Uganda
Ukraine
United Arab Emirates
United Kingdom
Uruguay
US
Uzbekistan
Venezuela
Vietnam
Zambia
Zimbabwe
Dominica
Grenada
Mozambique
Syria
Timor-Leste
Belize
Laos
Libya
West Bank and Gaza
Guinea-Bissau
Mali
Saint Kitts and Nevis
Kosovo
Burma
Botswana
Burundi
Sierra Leone
Malawi
South Sudan
Western Sahara
Sao Tome and Principe
Yemen
Comoros
Tajikistan
Lesotho

In [10]:
from collections import Counter
date_counter = Counter(data["Country/Region"])
print(date_counter)

Counter({'China': 6204, 'Canada': 2256, 'France': 2068, 'United Kingdom': 2068, 'Australia': 1504, 'Netherlands': 752, 'Denmark': 376, 'Afghanistan': 188, 'Albania': 188, 'Algeria': 188, 'Andorra': 188, 'Angola': 188, 'Antigua and Barbuda': 188, 'Argentina': 188, 'Armenia': 188, 'Austria': 188, 'Azerbaijan': 188, 'Bahamas': 188, 'Bahrain': 188, 'Bangladesh': 188, 'Barbados': 188, 'Belarus': 188, 'Belgium': 188, 'Benin': 188, 'Bhutan': 188, 'Bolivia': 188, 'Bosnia and Herzegovina': 188, 'Brazil': 188, 'Brunei': 188, 'Bulgaria': 188, 'Burkina Faso': 188, 'Cabo Verde': 188, 'Cambodia': 188, 'Cameroon': 188, 'Central African Republic': 188, 'Chad': 188, 'Chile': 188, 'Colombia': 188, 'Congo (Brazzaville)': 188, 'Congo (Kinshasa)': 188, 'Costa Rica': 188, "Cote d'Ivoire": 188, 'Croatia': 188, 'Cuba': 188, 'Cyprus': 188, 'Czechia': 188, 'Greenland': 188, 'Djibouti': 188, 'Dominican Republic': 188, 'Ecuador': 188, 'Egypt': 188, 'El Salvador': 188, 'Equatorial Guinea': 188, 'Eritrea': 188, 'Estonia': 188, 'Eswatini': 188, 'Ethiopia': 188, 'Fiji': 188, 'Finland': 188, 'Gabon': 188, 'Gambia': 188, 'Georgia': 188, 'Germany': 188, 'Ghana': 188, 'Greece': 188, 'Guatemala': 188, 'Guinea': 188, 'Guyana': 188, 'Haiti': 188, 'Holy See': 188, 'Honduras': 188, 'Hungary': 188, 'Iceland': 188, 'India': 188, 'Indonesia': 188, 'Iran': 188, 'Iraq': 188, 'Ireland': 188, 'Israel': 188, 'Italy': 188, 'Jamaica': 188, 'Japan': 188, 'Jordan': 188, 'Kazakhstan': 188, 'Kenya': 188, 'South Korea': 188, 'Kuwait': 188, 'Kyrgyzstan': 188, 'Latvia': 188, 'Lebanon': 188, 'Liberia': 188, 'Liechtenstein': 188, 'Lithuania': 188, 'Luxembourg': 188, 'Madagascar': 188, 'Malaysia': 188, 'Maldives': 188, 'Malta': 188, 'Mauritania': 188, 'Mauritius': 188, 'Mexico': 188, 'Moldova': 188, 'Monaco': 188, 'Mongolia': 188, 'Montenegro': 188, 'Morocco': 188, 'Namibia': 188, 'Nepal': 188, 'New Zealand': 188, 'Nicaragua': 188, 'Niger': 188, 'Nigeria': 188, 'North Macedonia': 188, 'Norway': 188, 'Oman': 188, 'Pakistan': 188, 'Panama': 188, 'Papua New Guinea': 188, 'Paraguay': 188, 'Peru': 188, 'Philippines': 188, 'Poland': 188, 'Portugal': 188, 'Qatar': 188, 'Romania': 188, 'Russia': 188, 'Rwanda': 188, 'Saint Lucia': 188, 'Saint Vincent and the Grenadines': 188, 'San Marino': 188, 'Saudi Arabia': 188, 'Senegal': 188, 'Serbia': 188, 'Seychelles': 188, 'Singapore': 188, 'Slovakia': 188, 'Slovenia': 188, 'Somalia': 188, 'South Africa': 188, 'Spain': 188, 'Sri Lanka': 188, 'Sudan': 188, 'Suriname': 188, 'Sweden': 188, 'Switzerland': 188, 'Taiwan*': 188, 'Tanzania': 188, 'Thailand': 188, 'Togo': 188, 'Trinidad and Tobago': 188, 'Tunisia': 188, 'Turkey': 188, 'Uganda': 188, 'Ukraine': 188, 'United Arab Emirates': 188, 'Uruguay': 188, 'US': 188, 'Uzbekistan': 188, 'Venezuela': 188, 'Vietnam': 188, 'Zambia': 188, 'Zimbabwe': 188, 'Dominica': 188, 'Grenada': 188, 'Mozambique': 188, 'Syria': 188, 'Timor-Leste': 188, 'Belize': 188, 'Laos': 188, 'Libya': 188, 'West Bank and Gaza': 188, 'Guinea-Bissau': 188, 'Mali': 188, 'Saint Kitts and Nevis': 188, 'Kosovo': 188, 'Burma': 188, 'Botswana': 188, 'Burundi': 188, 'Sierra Leone': 188, 'Malawi': 188, 'South Sudan': 188, 'Western Sahara': 188, 'Sao Tome and Principe': 188, 'Yemen': 188, 'Comoros': 188, 'Tajikistan': 188, 'Lesotho': 188})

In [21]:
selected = [country for country in date_counter.keys() if date_counter[country] > 500]
df_covid_filtered = data[data["Country/Region"].isin(selected)]
df_covid_filtered

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
8,Australian Capital Territory,Australia,-35.4735,149.0124,2020-01-22,0,0,0,0,Western Pacific
9,New South Wales,Australia,-33.8688,151.2093,2020-01-22,0,0,0,0,Western Pacific
10,Northern Territory,Australia,-12.4634,130.8456,2020-01-22,0,0,0,0,Western Pacific
11,Queensland,Australia,-27.4698,153.0251,2020-01-22,0,0,0,0,Western Pacific
12,South Australia,Australia,-34.9285,138.6007,2020-01-22,0,0,0,0,Western Pacific
...,...,...,...,...,...,...,...,...,...,...
49052,Anguilla,United Kingdom,18.2206,-63.0686,2020-07-27,3,0,3,0,Europe
49053,British Virgin Islands,United Kingdom,18.4207,-64.6400,2020-07-27,8,1,7,0,Europe
49054,Turks and Caicos Islands,United Kingdom,21.6940,-71.7979,2020-07-27,99,2,36,61,Europe
49059,Falkland Islands (Malvinas),United Kingdom,-51.7963,-59.5236,2020-07-27,13,0,13,0,Europe
49060,Saint Pierre and Miquelon,France,46.8852,-56.3159,2020-07-27,4,0,1,3,Europe

In [22]:
df_covid_pivot = df_covid_filtered.reset_index().pivot_table(index="Date", columns='Country/Region', values='Confirmed',aggfunc = 'sum')

In [23]:
df_covid_pivot=df_covid_pivot.T

In [24]:
df_covid_pivot

Date,2020-01-22,2020-01-23,2020-01-24,2020-01-25,2020-01-26,2020-01-27,2020-01-28,2020-01-29,2020-01-30,2020-01-31,...,2020-07-18,2020-07-19,2020-07-20,2020-07-21,2020-07-22,2020-07-23,2020-07-24,2020-07-25,2020-07-26,2020-07-27
Country/Region,,,,,,,,,,,,,,,,,,,,,
Australia,0,0,0,0,4,5,5,6,9,9,...,11802,12069,12428,12894,13302,13595,13950,14403,14935,15303
Canada,0,0,0,0,1,1,2,2,2,4,...,111862,112155,112925,113460,113777,114385,115102,115457,115776,116458
China,548,643,920,1406,2075,2877,5509,6087,8141,9802,...,85418,85503,85622,85708,85906,86045,86202,86381,86570,86783
France,0,0,2,3,3,3,4,5,5,5,...,211943,211943,214023,214607,215605,216667,217797,217801,217801,220352
Netherlands,0,0,0,0,0,0,0,0,0,0,...,51799,51945,52132,52297,52465,52630,52826,52973,52994,53413
United Kingdom,0,0,0,0,0,0,0,0,0,2,...,295632,296358,296944,297389,297952,298731,299500,300270,301020,301708

In [25]:
import numpy as np
ts_array = np.array(df_covid_pivot.T).reshape(df_covid_pivot.shape[0], df_covid_pivot.shape[1], 1)
ts_array

array([[[     0],
        [     0],
        [   548],
        ...,
        [    23],
        [    15],
        [     9]],

       [[ 77001],
        [    12],
        [     0],
        ...,
        [  2777],
        [ 81591],
        [ 22622]],

       [[  5580],
        [ 15126],
        [  2364],
        ...,
        [159952],
        [ 36724],
        [151689]],

       [[  6694],
        [ 46358],
        [ 83909],
        ...,
        [248650],
        [  7139],
        [ 88076]],

       [[ 84103],
        [182847],
        [ 45774],
        ...,
        [104616],
        [ 84725],
        [200195]],

       [[ 50206],
        [283151],
        [  7686],
        ...,
        [220352],
        [ 53413],
        [301708]]])