In [85]:
import pandas as pd
from utils import check_hexacolor, hexacolor_to_int
from monkey_model import Monkey
from monkey_classif import read_monkeys_from_csv

In [86]:
read_monkeys_from_csv("../data/monkeys.csv")

,species,size,weight,color,monkey,color_int,bmi
1,bonobo,0.713,47.139,#2e1628,"Monkey (bonobo), 47.139kg, 0.713cm, fur: #2e1628",3020328,92.725953
3,bonobo,0.770,45.065,#12211a,"Monkey (bonobo), 45.065kg, 0.77cm, fur: #12211a",1188122,76.007758
5,bonobo,0.705,31.771,#1c1729,"Monkey (bonobo), 31.771kg, 0.705cm, fur: #1c1729",1840937,63.922338
10,gorilla,1.542,213.395,#1d1b1e,"Monkey (gorilla), 213.395kg, 1.542cm, fur: #1d...",1907486,89.746081
11,bonobo,0.714,53.511,#14222d,"Monkey (bonobo), 53.511kg, 0.714cm, fur: #14222d",1319469,104.965516
...,...,...,...,...,...,...,...
2983,bonobo,0.759,39.023,#171018,"Monkey (bonobo), 39.023kg, 0.759cm, fur: #171018",1511448,67.738738
2989,orangutan,1.000,38.338,#ce5811,"Monkey (orangutan), 38.338kg, 1.0cm, fur: #ce5811",13522961,38.338000
2990,bonobo,0.714,39.007,#30212c,"Monkey (bonobo), 39.007kg, 0.714cm, fur: #30212c",3154220,76.514920
2993,bonobo,0.703,44.935,#13122f,"Monkey (bonobo), 44.935kg, 0.703cm, fur: #13122f",1249839,90.923071
2995,bonobo,0.709,32.094,#1f1c12,"Monkey (bonobo), 32.094kg, 0.709cm, fur: #1f1c12",2038802,63.845660